.OuterMainContainer{
    height: 90%;
    width: 100%;
}
.InnerMainContainer{
   /* padding: 10px; */
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.ContentsContainer{
    width: 70%;
    background-color: #f4effc;
    height: 100%;
}
.CartItems{
    width: 30%;
    background-color: #301e4e;
    height: 100%;
}