.OuterCartItem{
    width: 80%;
    margin: 10px auto 0 auto;
    height: 250px;
    background-color: #463366;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.NameContainer p{
    color: #FFFFFF;
}
.InnerCartItem{
    width: 100%;
}
.Cart{
    width: 100%;
}
.ImageContainer img{
    width: 100%;
    object-fit: cover;
}
.ActionsContainer{
    margin: 5px 0 0 0;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}
.AmountContainer{
    width: 40%;
}
.AmountContainer select{
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    outline: none;
}
.DeleteButton{
    width: 55%;
}
.DeleteButton button{
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    outline: none;
}