.OuterHeaderContainer{
    height: 10%;
}
.InnerHeaderContainer{
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}
.BrandNameContainer p{
    color: #1f1235;
    font-size: 20px;
    font-weight: bold;
}
.CartButton button{
    background-color: #ff6e6c;
    color: #1f1235;
    padding: 8px 20px;
    font-weight: bold;
    position: relative;
}
.CartButton button p{
    position: absolute;
    top: -10px;
    right: -8px;
    font-weight: 600;
}